body.download-options {
    position: relative;
    user-select: text;
    width: auto;
    height: auto;
    padding: 14px;
}

.download-options > .title {
    font-size: 28px;
    margin: 0;
}

.download-options > button {
    width: 320px;
}

.options-section {
    margin: 10px 0 16px;
}

.options-section > div {
    font-size: 18px;
    margin: 14px 0;
    vertical-align: middle;
}

.options-section label {
    cursor: pointer;
}

.options-section input[type="radio"] {
    vertical-align: middle;
    appearance: none;
    margin: -2px 0 0 6px;
    border: 1px solid pink;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    cursor: pointer;
    transition: background 0.1s;
}

.options-section input[type="radio"]:checked {
    background: pink;
}

.options-section input[type="text"] {
    width: 65%;
    font-size: 18px;
    padding: 6px;
    border: 2px solid #212121;
    border-radius: 4px;
    color: white;
    background-color: #212121;
}

.options-section input[type="text"]::placeholder {
    color: #e0e0e0;
    font-style: italic;
}

.options-section input[type="text"]:focus {
    border-color: #ffd54f;
    outline: none;
}

.caution {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: -3px 0 0 4px;
    min-width: 24px;
    height: 24px;
    padding: 0;
}

.caution:hover {
    --pink-btn-bg1: #953050;
    --pink-btn-bg2: #cd6892;
}

.caution:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 500px;
    margin-left: -100px;
    padding: 5px 0;
    font-size: 17px;
    border: 2px solid #ffd54f;
    border-radius: 4px;
    background-color: #302e38;
    bottom: 135%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

#toast-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

#toast-container > .toast {
    width: 140px;
    text-align: center;
    background-color: #212121;
    padding: 10px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

#toast-container > .toast.show {
    opacity: 1;
    transform: translateY(0);
}
