@font-face {
    font-family: Torus;
    src: url(assets/Torus-Light.otf);
}
@font-face {
    font-family: 'Azeret Mono';
    src: url(assets/AzeretMono.ttf);
}

.hidden {
    display: none;
}

html, body {
    user-select: none;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: gray;
    position: relative;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #302E38;
    color: white;
    font-family: 'Torus';
}

main {
    position: relative;
}
canvas {
    display: block;
    background: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
}
#progress-bar-wrapper {
    position: absolute;
    width: 100%;
    height: 18px;
    bottom: 0;
    cursor: pointer;
}
#progress-bar {
    --bg-color: #424242;
    --break-color: #8f8f8f;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    transition: height 0.3s;
}
#progress-bar-wrapper:hover > div, #progress-bar[hover] {
    height: 18px;
}
.progress {
    background-color: #dddd2c;
    width: 50%;
    height: 20px;
}

#time-indicator {
    position: absolute;
    right: 14px;
    bottom: 30px;
    font-size: 24px;
    font-style: italic;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
#progress-bar-wrapper:hover > #time-indicator, #progress-bar[hover] ~ #time-indicator {
    opacity: 1 !important;
}

#volume-control {
    display: flex;
    position: absolute;
    width: fit-content;
    right: 30px;
    top: 56%;
    transform: translate(60px, -50%);
    pointer-events: none;
    transition: transform 0.3s;
    z-index: 1;
}
#volume-control[shown] {
    transform: translateY(-50%);
    pointer-events: all;
}
.volume-category {
    transition: transform 0.15s;
    cursor: pointer;
    padding: 0 12px;
}
.volume-category:first-child {
    padding-left: 0;
}
.volume-category:last-child {
    padding-right: 0;
}
.volume-category:hover {
    transform: scale(1.02);
}
.volume-category img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 2px #101010);
    margin-bottom: 4px;
    margin-left: 4px;
    opacity: 0;
    transition: opacity 0.1s;
}
#volume-control[shown] .volume-category img {
    opacity: 1;
}
.volume-slider {
    width: 38px;
    height: 260px;
    background-color: #60666900;
    border-radius: 1000px;
    overflow: hidden;
    backdrop-filter: blur(20px) opacity(0);
    transition: background-color 0.1s, backdrop-filter 0.1s;
}
#volume-control[shown] .volume-slider {
    background-color: #60666980;
    backdrop-filter: blur(20px);
}
.volume-slider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(var(--value));
    transform-origin: bottom;
    background-color: #b2f3fd00;
    transition: background-color 0.1s, transform 0.1s;
}
#volume-control[shown] .volume-slider::after {
    background-color: #b2f3fda6;
}

#expand-1, #expand-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    pointer-events: none;
    translate: -50% -50%;
    scale: 1;
    rotate: 0deg;
    transition: translate 0.4s ease-out, scale 0.4s ease-out, rotate 0.1s cubic-bezier(.11,.88,.57,1.69), opacity 0.4s;
}
.opacity-0 {
    opacity: 0;
}
.expand-and-fade {
    scale: 1.3 !important;
    opacity: 0 !important;
}
.expand-and-fade-and-rotate {
    scale: 1.3 !important;
    rotate: 9deg !important;
    opacity: 0 !important;
}

#more-tab {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    background: #0000009e;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;
}
#more-tab[shown] {
    opacity: 1;
    pointer-events: all;
}
.top {
    height: 250px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.top .row:first-child {
    margin: 72px 0 116px 0;
}
.mod {
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 1000px;
    transition: box-shadow 0.05s;
}
.mod > img {
    transform: translate(-50%, -50%);
    transition: transform 0.1s cubic-bezier(.11,.88,.57,1.69);
}
.mod > img[toggled] {
    transform: translate(-50%, -50%) scale(1.15) rotate(9deg);
}
.mod:has(img[toggled]) {
    box-shadow: 0 0 28px 40px #ffffff3b;
}
.middle {
    margin-top: 34px;
}
.middle p {
    margin: 0 0 0 56px;
}
#bgdim-wrapper {
    width: 100%;
    padding: 16px 56px;
    box-sizing: border-box;
    transition: background 0.2s linear;
}
#bgdim-wrapper > div {
    position: relative;
}
#background-dim {
    display: block;
    appearance: none;
    background: #793a46;
    width: 100%;
    height: 3px;
    cursor: pointer;
}
#background-dim::-webkit-slider-thumb {
    opacity: 0;
}
#slider-thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: 2px solid #f78ea0;
    border-radius: 50%;
    pointer-events: none;
}
.bottom {
    flex: 1;
    display: flex;
    align-items: end;
    padding: 0 30px 40px 20px;
}
.left {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}
.left > p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}
#upload-skin-btn {
    display: inline-block;
    width: fit-content;
    text-align: center;
}
.right {
    margin-left: 60px;
}
.checkbox {
    display: block;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    padding: 1px 4px;
    transition: background 0.1s;
}
.checkbox:hover {
    background: #ffffff18;
}
.checkbox::before {
    content: "";
    position: absolute;
    top: 52%;
    left: -18px;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid pink;
    transition: background 0.1s;
}
.checkbox[toggled]::before {
    background: pink;
}

footer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
#footer-right {
    margin-left: auto;
    display: flex;
    gap: 8px;
}
.btn-big {
    min-width: 160px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 7px 0;
    border-radius: 1000px;
    cursor: pointer;
    color: inherit;
    outline: none;
}
@property --blue-btn-bg1 {
    syntax: '<color>';
    initial-value: #22468b;
    inherits: false;
}
@property --blue-btn-bg2 {
    syntax: '<color>';
    initial-value: #7287c3;
    inherits: false;
}
.blue {
    background: linear-gradient(to top, var(--blue-btn-bg1), var(--blue-btn-bg2));
    transition: --blue-btn-bg1 0.07s, --blue-btn-bg2 0.07s;
}
.blue:active {
    --blue-btn-bg1: #1f3a6b;
    --blue-btn-bg2: #5368a1;
}
@property --pink-btn-bg1 {
    syntax: '<color>';
    initial-value: #c73f6b;
    inherits: false;
}
@property --pink-btn-bg2 {
    syntax: '<color>';
    initial-value: #ff8dbd;
    inherits: false;
}
.pink {
    background: linear-gradient(to top, var(--pink-btn-bg1), var(--pink-btn-bg2));
    transition: --pink-btn-bg1 0.07s, --pink-btn-bg2 0.07s;
}
.pink:active {
    --pink-btn-bg1: #953050;
    --pink-btn-bg2: #cd6892;
}
@property --red-btn-bg1 {
    syntax: '<color>';
    initial-value: #831515;
    inherits: false;
}
@property --red-btn-bg2 {
    syntax: '<color>';
    initial-value: #fb4b4b;
    inherits: false;
}
.red {
    background: linear-gradient(to top, var(--red-btn-bg1), var(--red-btn-bg2));
    transition: --red-btn-bg1 0.07s, --red-btn-bg2 0.07s;
}
.red:active {
    --red-btn-bg1: #651212;
    --red-btn-bg2: #b73d3d;
}

#more-btn[active] {
    outline: 1px solid #acbcff;
}
.report-btn {
    min-width: 38px;
    position: relative;
}
.report-btn > span {
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}
.report-btn > div {
    position: absolute;
    bottom: 100%;
    left: 50%;
}
.report-btn:active:has(.report-panel:active) {
    --blue-btn-bg1: #22468b;
    --blue-btn-bg2: #7287c3;
}
.report-panel {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateX(-50%);
    width: 240px;
    background: #000000d9;
    padding: 4px 0;
    opacity: 0;
    margin-bottom: 10px;
    font-weight: normal;
    pointer-events: none;
    transition: margin-bottom 0.1s, opacity 0.1s;
}
.report-panel[visible] {
    opacity: 1;
    margin-bottom: 16px;
    pointer-events: all;
}
.report-panel::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border: 14px solid transparent;
    border-top: 16px solid #000000d9;
    border-bottom: none;
    cursor: default;
}
.report-panel > * {
    display: block;
    padding: 5px 0;
    cursor: default;
    color: white;
    text-decoration: none;
    transition: background 0.1s, color 0.1s;
}
.report-panel > a:hover {
    background: #96e6ff;
    color: black;
    cursor: pointer;
}

#repo-link, #repo-link:visited {
    color: white !important;
    text-decoration: none !important;
    font-size: 23px;
}
#repo-link:hover, #repo-link:visited:hover {
    text-decoration: underline !important;
}
#author-link, #author-link:visited {
    color: #9f9f9f !important;
    text-decoration: none !important;
}
#author-link:hover, #author-link:visited:hover {
    text-decoration: underline !important;
}

@property --loading-bg1 {
    syntax: '<color>';
    initial-value: #678adb;
    inherits: false;
}
@property --loading-bg2 {
    syntax: '<color>';
    initial-value: #3c1685;
    inherits: false;
}
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--loading-bg1), var(--loading-bg2));
    transition: opacity 0.3s, --loading-bg1 1s, --loading-bg2 1s;
}
#loading-screen.error {
    --loading-bg1: #bd3030;
    --loading-bg2: #ffa2a2;
}
#loading-canvas {
   background: none;
}
#loading-face {
    display: none;
    position: absolute;
    top: 46%;
    left: 49%;
    transform: translate(-50%, calc(-50% - 35px));
    opacity: 0;
    font-size: 165px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease-out, opacity 0.6s;
}
#loading-text {
    position: absolute;
    top: 67%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    filter: drop-shadow(0 0 1px rgb(72, 72, 72));
}
#loading-text.clickable {
    cursor: pointer;
}
#loading-text.clickable:hover {
    background: #00000045;
}
#loading-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
}
#loading-report-btn {
    width: 190px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 24px;
    transform: translateX(-50%);
    display: none;
}

@keyframes loadingChase {
    0%   {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)}
    12.5%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)}
    25%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)}
    37.5%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)}
    50% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)}
    62.5% {clip-path:polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0)}
    75% {clip-path:polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0)}
    87.5% {clip-path:polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0)}
    100% {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)}
}
@keyframes loadingRotate {
    100%   {transform: translate(-50%, -50%) rotate(360deg)}
}