@font-face {
    font-family: Torus;
    src: url(assets/Torus-Light.otf);
}
@font-face {
    font-family: 'Azeret Mono';
    src: url(assets/AzeretMono.ttf);
}

.hidden {
    display: none;
}

html, body {
    user-select: none;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: gray;
    position: relative;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #302E38;
    color: white;
    font-family: 'Torus';
}

main {
    position: relative;
}
canvas {
    display: block;
    background: green;
}
#progress-bar-wrapper {
    position: absolute;
    width: 100%;
    height: 18px;
    bottom: 0;
    cursor: pointer;
}
#progress-bar {
    --bg-color: #424242;
    --break-color: #8f8f8f;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    transition: height 0.3s;
}
#progress-bar-wrapper:hover > div, #progress-bar[hover] {
    height: 18px;
}
.progress {
    background-color: #dddd2c;
    width: 50%;
    height: 20px;
}

#volume-control {
    display: flex;
    position: absolute;
    width: fit-content;
    right: 30px;
    top: 56%;
    transform: translate(60px, -50%);
    pointer-events: none;
    transition: transform 0.3s;
}
#volume-control[shown] {
    transform: translateY(-50%);
    pointer-events: all;
}
.volume-category {
    transition: transform 0.15s;
    cursor: pointer;
    padding: 0 12px;
}
.volume-category:first-child {
    padding-left: 0;
}
.volume-category:last-child {
    padding-right: 0;
}
.volume-category:hover {
    transform: scale(1.02);
}
.volume-category img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 2px #101010);
    margin-bottom: 4px;
    margin-left: 4px;
    opacity: 0;
    transition: opacity 0.1s;
}
#volume-control[shown] .volume-category img {
    opacity: 1;
}
.volume-slider {
    width: 38px;
    height: 260px;
    background-color: #60666900;
    border-radius: 1000px;
    overflow: hidden;
    backdrop-filter: blur(20px) opacity(0);
    transition: background-color 0.1s, backdrop-filter 0.1s;
}
#volume-control[shown] .volume-slider {
    background-color: #60666980;
    backdrop-filter: blur(20px);
}
.volume-slider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(var(--value));
    transform-origin: bottom;
    background-color: #b2f3fd00;
    transition: background-color 0.1s, transform 0.1s;
}
#volume-control[shown] .volume-slider::after {
    background-color: #b2f3fda6;
}

#expand-1, #expand-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    pointer-events: none;
    translate: -50% -50%;
    scale: 1;
    rotate: 0deg;
    transition: translate 0.4s ease-out, scale 0.4s ease-out, rotate 0.1s cubic-bezier(.11,.88,.57,1.69), opacity 0.4s;
}
.opacity-0 {
    opacity: 0;
}
.expand-and-fade {
    scale: 1.3 !important;
    opacity: 0 !important;
}
.expand-and-fade-and-rotate {
    scale: 1.3 !important;
    rotate: 9deg !important;
    opacity: 0 !important;
}

#more-tab {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    background: #0000009e;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;
}
#more-tab[shown] {
    opacity: 1;
    pointer-events: all;
}
.top {
    height: 250px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.top .row:first-child {
    margin: 72px 0 116px 0;
}
.mod {
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 1000px;
    transition: box-shadow 0.05s;
}
.mod > img {
    transform: translate(-50%, -50%);
    transition: transform 0.1s cubic-bezier(.11,.88,.57,1.69);
}
.mod > img[toggled] {
    transform: translate(-50%, -50%) scale(1.15) rotate(9deg);
}
.mod:has(img[toggled]) {
    box-shadow: 0 0 28px 40px #ffffff3b;
}
.middle {
    margin-top: 34px;
}
.middle p {
    margin: 0 0 0 56px;
}
#bgdim-wrapper {
    width: 100%;
    padding: 16px 56px;
    box-sizing: border-box;
    transition: background 0.2s linear;
}
#bgdim-wrapper > div {
    position: relative;
}
#background-dim {
    display: block;
    appearance: none;
    background: #793a46;
    width: 100%;
    height: 3px;
    cursor: pointer;
}
#background-dim::-webkit-slider-thumb {
    opacity: 0;
}
#slider-thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: 2px solid #f78ea0;
    border-radius: 50%;
    pointer-events: none;
}
.bottom {
    flex: 1;
    display: flex;
    align-items: end;
    padding: 0 30px 40px 20px;
}
.left {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}
.left > p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
#skin-btn {
    display: block;
    width: fit-content;
    text-align: center;
}
.right {
    margin-left: 60px;
}
.checkbox {
    display: block;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    padding: 1px 4px;
    transition: background 0.1s;
}
.checkbox:hover {
    background: #ffffff18;
}
.checkbox::before {
    content: "";
    position: absolute;
    top: 52%;
    left: -18px;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid pink;
    transition: background 0.1s;
}
.checkbox[toggled]::before {
    background: pink;
}

footer {
    flex: 1;
    display: flex;
    align-items: center;
}
#footer-title {
    margin-left: 10px;
}
#footer-buttons {
    margin-left: auto;
    margin-right: 12px;
}
.btn-big {
    min-width: 160px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 7px 0;
    border-radius: 1000px;
    cursor: pointer;
    color: inherit;
    outline: none;
}
.blue {
    background: linear-gradient(to top, #22468b, #7287c3);
}
.pink {
    background: linear-gradient(to top, #c73f6b, #ff8dbd);
}
#download-btn {
    margin-left: 8px;
}

#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #678adb, #3c1685);
    transition: opacity 0.3s;
}
#loading-canvas {
   background: none;
   -webkit-mask-image: linear-gradient(to top, #ffffffd1, #fff3);
   mask-image: linear-gradient(to top, #ffffffd1, #fff3);
}
#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 126px;
    height: 126px;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px rgb(93, 93, 93));
    animation: loadingRotate 2s linear infinite;
    --spinner-animation: loadingChase 2s cubic-bezier(0.14, 0.29, 0.85, 0.71) infinite;
}
#loading-spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 11px solid #FFF;
    animation: var(--spinner-animation);
    clip-path: var(--spinner-clip);
}
#loading-text {
    position: absolute;
    top: 67%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    filter: drop-shadow(0 0 1px rgb(72, 72, 72));
}
#loading-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
}

@keyframes loadingChase {
    0%   {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)}
    12.5%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)}
    25%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)}
    37.5%  {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)}
    50% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)}
    62.5% {clip-path:polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0)}
    75% {clip-path:polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0)}
    87.5% {clip-path:polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0)}
    100% {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)}
}
@keyframes loadingRotate {
    100%   {transform: translate(-50%, -50%) rotate(360deg)}
}